/*
----------------------------
    @FONTS
----------------------------
*/

/*** BEGIN UNUSED FONTS

font-face {
	font-family: 'OpenSans-Regular';
	src: url('assets/fonts/opensans-regular/OpenSans-Regular.woff');
	src: local('☺'), url('assets/fonts/opensans-regular/OpenSans-Regular.woff') format('woff'), url('assets/fonts/opensans-regular/OpenSans-Regular.ttf') format('truetype'), url('assets/fonts/opensans-regular/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muli-ExtraBold';
	src: url('assets/fonts/muli-extrabold/Muli-ExtraBold.woff');
	src: local('☺'), url('assets/fonts/muli-extrabold/Muli-ExtraBold.woff') format('woff'), url('assets/fonts/muli-extrabold/Muli-ExtraBold.ttf') format('truetype'), url('assets/fonts/muli-extrabold/Muli-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Thin';
	src: url('assets/fonts/poppins-thin/Poppins-Thin.woff');
	src: local('☺'), url('assets/fonts/poppins-thin/Poppins-Thin.woff') format('woff'), url('assets/fonts/poppins-thin/Poppins-Thin.ttf') format('truetype'), url('assets/fonts/poppins-thin/Poppins-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('assets/fonts/poppins-regular/Poppins-Regular.woff');
	src: local('☺'), url('assets/fonts/poppins-regular/Poppins-Regular.woff') format('woff'), url('assets/fonts/poppins-regular/Poppins-Regular.ttf') format('truetype'), url('assets/fonts/poppins-regular/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('assets/fonts/poppins-bold/Poppins-Bold.woff');
	src: local('☺'), url('assets/fonts/poppins-bold/Poppins-Bold.woff') format('woff'), url('assets/fonts/poppins-bold/Poppins-Bold.ttf') format('truetype'), url('assets/fonts/poppins-bold/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('assets/fonts/roboto-light/Roboto-Light.woff');
	src: local('☺'), url('assets/fonts/roboto-light/Roboto-Light.woff') format('woff'), url('assets/fonts/roboto-light/Roboto-Light.ttf') format('truetype'), url('assets/fonts/roboto-light/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('assets/fonts/montserrat-light/Montserrat-Light.woff');
	src: local('☺'), url('assets/fonts/montserrat-light/Montserrat-Light.woff') format('woff'), url('assets/fonts/montserrat-light/Montserrat-Light.ttf') format('truetype'), url('assets/fonts/montserrat-light/Montserrat-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('assets/fonts/montserrat-bold/Montserrat-Bold.woff');
	src: local('☺'), url('assets/fonts/montserrat-bold/Montserrat-Bold.woff') format('woff'), url('assets/fonts/montserrat-bold/Montserrat-Bold.ttf') format('truetype'), url('assets/fonts/montserrat-bold/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

END UNUSED FONTS ***/



@font-face {
	font-family: 'Futura-Regular';
	src: url('assets/fonts/futura-regular/futura.woff');
	src: local('☺'), url('assets/fonts/futura-regular/futura.woff') format('woff'), url('assets/fonts/futura-regular/futura.ttf') format('truetype'), url('assets/fonts/futura-regular/futura.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Futura-Bold';
	src: url('assets/fonts/futura-bold/futura-bold.woff');
	src: local('☺'), url('assets/fonts/futura-bold/futura-bold.woff') format('woff'), url('assets/fonts/futura-bold/futura-bold.ttf') format('truetype'), url('assets/fonts/futura-bold/futura-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}