//************************ COPY TEXT ***************************

p { @include copy-text;
    //text-align: justify; //In case you need justify
    //hyphens: auto; //In case you need hyphenation
}

article p strong,
#main-container article ul li strong,
#main-container article ol li strong{
	font-family: $text-font-strong;
}


//************************ HEADINGS ************************

h1,h2,h3,h4,h5,h6 {@include heading;}

h1 {font-size: $h1-size; font-weight: $heading-weight; padding-bottom: $padding10; line-height:$h1-size;}
h2 {font-size: $h2-size; font-weight: $heading-weight; padding-bottom: $padding10; line-height:$h2-size;}
h3 {font-size: $h3-size; font-weight: $heading-weight; padding-bottom: $padding10/1.8; line-height:$h3-size;}
h4 {font-size: $h4-size; font-weight: $heading-weight; padding-bottom: $padding10/2.0; line-height:$h4-size + 0.1em;}
h5 {font-size: $h5-size; font-weight: $heading-weight; padding-bottom: $padding10/2.1; line-height:$h5-size + 0.1em;}
h6 {font-size: $h6-size; font-weight: $heading-weight; padding-bottom: $padding10/2.8; line-height:$h6-size + 0.1em;}

main h1 {
    border-left: 5px solid $branding-color1;
    margin: 0 0 30px 0;
    padding: 7px 0 0 10px ;
}

.page-title h1 {
  position: relative;
  text-shadow: 1px 1px 2px #000000;

  &::first-letter {
    color: $branding-color1;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0; 
    width: 55px; 
    height: 5px;
    background-color: $branding-color1;
  }
}



.page-title .term-name {
	font:$heading-font;
    font-size: $text-size;
}

//******************** LISTS ARTICLE ************************


.wp-block-list {
    padding-left:0 !important;
}

article ul {
    font-family: $text-font;
    font-size: $text-size;
    color: $text-color;
    list-style-type: none;
    margin: 25px 0 0 20px;

    li {
        max-width: 800px;
        line-height: $text-lh;
        margin-bottom: 0;
    }

    li:before {
        content: "\f00c";
        font-family: "FontAwesome";
        font-size: 1em;
        color: $branding-color1;
        padding: 0 10px 0 0;
        
        a {
            color: $article-link-color;
        }
    }
}

article ol {  
    list-style: none;
    counter-reset: my-awesome-counter;

    li {
        font-family: $text-font;
        counter-increment: my-awesome-counter;
        margin-bottom: 2rem;
        font-size: $text-size;
        max-width: 1000px;
    }

    li::before {
        content: counter(my-awesome-counter);
        color: black;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: $branding-color1;
        width: 1.8em;
        height: 1.8em;
        border-radius: 50%;
        margin-right: 0.5em;
    }

    ol ol li::before {
        background: $branding-color2;
    }

    ol ol ol li::before {
        background: $branding-color3;
    }
}

//******************** BLOCKQUOTE ************************

blockquote {
    display: flex;
    flex-direction: column;
    border-left: 6px solid $quote-border-color;
    margin: 40px auto 40px 20px;
    padding: 28px;
    max-width: 600px;
	
	cite {
		margin: 36px 0 0 0;
	}
	
	@media screen and (max-width: 800px) {
		max-width: 100%;
		margin: 40px auto 40px 0;
		padding: 10px;
	}
}

blockquote p {
    font: italic $text-size "Georgia", Times, Times New Roman, Palatino, serif;
    font-size: 1.4em;
    line-height: 1.5em;
    color: $black;
    text-indent: 1.7em; /*Text indent to fit quote icon size*/
    position: relative;
	margin: 0;
	
	@media screen and (max-width: 800px) {
		font-size: 1.3em;
    	line-height: 1.24em;
	}

    &:before {
        position: absolute;
        content: open-quote;
        font: italic $text-size "Georgia", Times, Times New Roman, Palatino, serif;
        font-size: 3em;
        font-weight: bold;
        color: $branding-color1;
        top: -10px;
        left: -40px; /*To match text indent position*/
    }
	
	&:after {
        content: close-quote;  
	}
}

//******************** CITE ************************
cite {
    font-family: $text-font;
    font-size: 1em;
    font-style: normal;
    color:$black;
    padding: 2px 8px;
    margin-bottom: 0px;
}


//******************** PRE ************************

pre {
	font:$pre;
	color: $text-color;
	background:$branding-color3;
	border: 1px solid $border-color-medium;
	margin: 40px 0px 40px 0px !important;
	padding:$padding40;
    white-space: pre-wrap;
}
pre a {
	color: $link-color;
}
pre a:hover {
	color: $link-color-hover;
}

//******************** CODE ************************

pre.wp-block-code {
    color: #4ae044;
    background: #2d342a; 
    margin-top: 0 !important;  
}

//******************** SUMMARY ************************

.wp-block-details {
    border: 1px solid #ccc;
    padding: 25px;
    margin-bottom: 25px;
}

summary {
    font-size: 1.3em;
    font-weight: 700;
}

//******************** CAPTIONS ************************

captions,
figcaption,
p.wp-caption-text,
.wp-block-image {
    @include caption;
}
